In [2]:
import pandas as pd

In [3]:
amazon_data = pd.read_csv('../data/processed/amazon_langs.csv')
netflix_data = pd.read_csv('../data/processed/netflix_langs.csv')
spotify_data = pd.read_csv('../data/processed/spotify_langs.csv')

In [4]:
amazon_data['source'] = 'amazon'
netflix_data['source'] = 'netflix'
spotify_data['source'] = 'spotify'

In [5]:
netflix_data.head()

   index repository_name languages   source
0      0         .github       NaN  netflix
1      1       aegisthus      Java  netflix
2      2          af_tsa         C  netflix
3      3        aminator    Python  netflix
4      4        archaius      Java  netflix

In [6]:
amazon_data.head()

   index                          repository_name         languages  source
0      0                                  .github               NaN  amazon
1      1                  ads-advanced-tools-docs  Jupyter Notebook  amazon
2      2  ads-pao-amznjs-gtm-server-side-template            Smarty  amazon
3      3              ads-pao-amznjs-gtm-template            Smarty  amazon
4      4                               alexa-coho        JavaScript  amazon

In [7]:
spotify_data.head()

   index        repository_name languages   source
0      0                .github       NaN  spotify
1      1             aioshumway    Python  spotify
2      2           android-auth      HTML  spotify
3      3            android-sdk      HTML  spotify
4      4  android-store-service    Python  spotify

In [8]:
### Concat Data

In [9]:
merge_data = pd.concat([amazon_data, netflix_data, spotify_data], ignore_index=True)

In [10]:
path = '../data/processed/languages_by_company.csv'
merge_data.to_csv(path, index=False)